header {
    position: relative;
    top: 0;
    left: 0;
    background-color: red;
    padding-top: 5px;
    padding-bottom: 5px;;
    width: 100%;
    height: 60px;
    z-index: 10;
    text-align: center;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: red;
    padding-top: 5px;
    padding-bottom: 5px;;
    width: 100%;
    height: 60px;
    z-index: 10;
    text-align: center;
}
section {
    text-align: center;
    padding: 50px 50px;
}
#box {
    position: relative;
    padding-top: 20px;
    width: 60%;
    margin-left: 400px;
    margin-right: 400px;
    border: 3px solid red;
    height: 500px;
}
#hasil {
    /* position: absolute; */
    padding-top: 20px;
    padding-bottom: 20px;
    width: 80%;
    margin-left: 70px;
    margin-right: 40px;
    margin-bottom: 10px;
    height: 20px;
    border: 3px solid red;
    font-size: 40px;
    text-align: right;
}
#box table {
    /* position: absolute; */
    position: absolute;
    margin-top: 1%;
    margin-left: 10%;
    /* margin-right: 10%; */
}
.button {
    position: relative;
    background-color: red; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 45px;
  }